---
import MainLayout from "../../layouts/MainLayout.astro";
import { getCollection } from "astro:content";

const title = "Posts";
const getPubDate = (postPubDate?: Date) => postPubDate ?? new Date(0);
const posts = (await getCollection("posts")).sort(
  (x, y) =>
    getPubDate(y.data.pubDate).getTime() - getPubDate(x.data.pubDate).getTime(),
);
---

<MainLayout title={title}>
  <nav
    class="mx-auto mt-1 mb-2 max-w-(--breakpoint-md) px-1 text-center md:mt-1.5 md:mb-2.5 md:px-2"
  >
    <h1
      class="text-red dark:text-green-light mt-0 mb-0.75 text-2xl font-medium tracking-tight md:text-3xl"
    >
      {title}
    </h1>
    <ul>
      {
        posts.map((post) => (
          <li class="mb-0.5 last:mb-0">
            <article>
              <time datetime={getPubDate(post.data.pubDate).toISOString()}>
                {getPubDate(post.data.pubDate).toLocaleDateString("en-US", {
                  day: "numeric",
                  month: "long",
                  year: "numeric",
                })}
              </time>
              <h2 class="text-red dark:text-green-light mt-0 mb-0.5 text-lg font-medium tracking-tight">
                <a
                  href={`/blog/${post.id}`}
                  class="text-blue visited:text-purple hover:bg-blue focus:bg-blue active:bg-red dark:text-cyan dark:visited:text-grey-light dark:hover:bg-cyan dark:focus:bg-cyan dark:active:bg-yellow underline hover:text-white focus:text-white active:text-white dark:hover:text-black dark:focus:text-black dark:active:text-black"
                >
                  {post.data.title}
                </a>
              </h2>
            </article>
          </li>
        ))
      }
    </ul>
  </nav>
</MainLayout>
